{% if current_issue.scribd_image %}
    <div class="current-issue">
        <h2 class="current-issue-title">In Print</h2>
        <a href="https://scribd.com/doc/{{current_issue.scribd}}">
            <div class="issue-thumb" style="background-image:url('{{current_issue.scribd_image}}')"></div>
            <ul class="issue-details">
                <li>Volume {{current_issue.volume.volume_number}}</li>
                <li>Number {{current_issue.issue_number}}</li>
                <li>{{current_issue.issue_date}}</li>
            </ul>
        </a>
    </div>
{% endif %}
