#!/bin/sh

DJANGODIR={{ project_path }}

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

# Activate the virtual environment.
cd $DJANGODIR
. ../bin/activate
. ../bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec rq-dashboard