#!/bin/sh

DJANGODIR={{ project_path }}

# Activate the virtual environment.
cd $DJANGODIR
. ../bin/activate
. ../bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery worker -E -B \
    -A {{ application_name }}.apps.celery \
    --broker={{ rabbitmq_broker_url }} \
    -l {{ celery_loglevel }} \
    --logfile="{{ celery_logfile }}" \
    -n worker1.{{ site_url }} \
    --concurrency={{ celery_num_workers }} \
    --config={{ celery_application_settings_file }}
