{% extends 'base.html' %}
{% load class_name %}

{% block title %}
    <title>Search | The Bowdoin Orient</title>
{% endblock %}

{% block content %}
    <form method="get" action="/search" id="search-form">
        <div class="basic-search">
            <label class="search-label" for="search-box">Search:</label>
            <input id="search-box" name="q" type="search" placeholder="Search...">
        </div>

        <input class="search-submit" type="submit" value="Search">

        <div class="advanced-open">
            <span class="title">Advanced Search<i class="chevron"></i></span>
        </div>

        <div class="advanced-search">
            <span class="categories">Search the following categories:</span>
            <div class="search-options">
                <div class="filter-type">
                    <input id="authors" name="models" type="checkbox" value="bongo.creator">
                    <p><label for="authors">Authors</label></p>
                </div>
                <div class="filter-type">
                    <input id="series" name="models" type="checkbox" value="bongo.series">
                    <p><label for="series">Series</label></p>
                </div>
                <div class="filter-type">
                    <input id="articles" name="models" type="checkbox" value="bongo.post">
                    <p><label for="articles">Articles</label></p>
                </div>
            </div>
        </div>

        {% if query %}
            {% for result in page.object_list %}
                <p>
                    {% if result.object|class_name == 'Creator' %}
                        <a href="{% url 'author' result.object.id %}">{{ result.object.name }}</a>
                    {% elif result.object|class_name == 'Series' %}
                        <a href="{% url 'series' result.object.id %}">{{ result.object.name }}</a>
                    {% endif %}
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
        {% endif %}
    </form>
{% endblock %}

{% block nocompress %}
<script>
    Zepto(function($){
        $(".advanced-open").click(function(){
            $(".advanced-open .chevron").toggleClass("rotate");
            $(".advanced-search").toggleClass("visible");
        });
    });
</script>
{% endblock %}