{% extends 'base.html' %}
{% load class_name %}
{% load pagecounts %}
{% load dump %}

{% block title %}
    <title>Search | The Bowdoin Orient</title>
{% endblock %}

{% block content %}
    <form method="get" action="/search" id="search-form">
        <div class="basic-search">
            <label class="search-label" for="search-box">Search:</label>
            <input id="search-box" name="q" type="search" placeholder="Search..." {% if query %} value="{{ query }}" {% endif %}>
            <input class="search-submit" type="submit" value="Search">
        </div>

        <div class="advanced-open">
            <span class="title">Advanced Search<i class="chevron"></i></span>
        </div>

        <div class="advanced-search">
            <span class="categories">Search the following categories:</span>
            <div class="search-options">
                <div class="filter-type">
                    <input id="authors" name="models" type="checkbox" value="bongo.creator">
                    <p><label for="authors">Authors</label></p>
                </div>
                <div class="filter-type">
                    <input id="series" name="models" type="checkbox" value="bongo.series">
                    <p><label for="series">Series</label></p>
                </div>
                <div class="filter-type">
                    <input id="articles" name="models" type="checkbox" value="bongo.post">
                    <p><label for="articles">Articles</label></p>
                </div>
            </div>
        </div>

        {% if query %}
            <div class="results">
                {% if page.object_list|first %}
                    <p class="count">Results {{page|firstindex}} – {{page|lastindex}} of {{page|count}}</p>
                {% endif %}
                {% for result in page.object_list %}
                    {% if result.object|class_name == 'Creator' %}
                        {% include "search/creator.html" with creator=result.object %}
                    {% elif result.object|class_name == 'Series' %}
                        {% include "search/series.html" with series=result.object %}
                    {% elif result.object|class_name == 'Post' %}
                        {% include "search/post.html" with post=result.object %}
                    {% endif %}
                {% empty %}
                    <p class="none">No results found.</p>
                {% endfor %}

                {% if page.has_previous or page|has_next %}
                    <div>
                        {% if page.has_previous %}
                            <a href="/search?q={{ query }}&amp;page={{ page.previous_page_number }}">
                                Previous
                            </a>
                        {% endif %}
                        {% if page|has_next %}
                            <a href="/search?q={{ query }}&amp;page={{ page.next_page_number }}">
                                Next
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block nocompress %}
<script>
    Zepto(function($){
        $(".advanced-open").click(function(){
            $(".advanced-open .chevron").toggleClass("rotate");
            $(".advanced-search").toggleClass("visible");
        });
    });
</script>
{% endblock %}