ansible/env_vars/secure.yml

# Pycocide
*.pyc

# No static files
bongo/static/*
~bongo/static/bower_components

# No media
bongo/media/*

# No logs
/logs/*

# coveralls
.coverage

/.tmp

/.sass-cache

*.log

.vagrant/*

wraith/shots/*

Gemfile.lock