.homepage-content {
    position:relative;

    .left-col {
        width:70%;
        padding:0 10px;
        left:0;
        top:0;
    }

    .right-col {
        width:30%;
        padding:0 10px;
        right:0;
        top:0;

        div {
            width:100%;
            display:block;
            position:relative;
        }
    }

    & div {
        display:inline-block;
        position:absolute;
    }
}

@media (max-width:767px){
    .homepage-content {
        .left-col {
            width:100%;
        }

        .right-col {
            display:none;
            width:0%;
        }
    }
}

@media (min-width:1024px){
    .homepage-content {
        .left-col {
            padding:0 10px 0 0;
        }

        .right-col {
            padding: 0 0 0 10px;
        }
    }
}
