.top-reads {
    @include vendor-prefix("column-count", "2");
    overflow:hidden;
    width:100%;
    height:300px;
    margin:25px 0;
    padding:10px 0 10px 20px;
    background-color:$lightergray;

    .top-article {
        cursor:pointer;
        position:relative;

        .top-badge {
            width:25px;
            height:25px;
            background-color: white;
            border-radius: 50%;
            display:block;
            position:absolute;
            top:50%;
            transform: translate(0, -50%);

            &.news      {border: 2px solid $news; color:$news}
            &.features  {border: 2px solid $features; color:$features}
            &.artsent   {border: 2px solid $artsent; color:$artsent}
            &.sports    {border: 2px solid $sports; color:$sports}
            &.opinion   {border: 2px solid $opinion; color:$opinion}

            @include vendor-prefix("transition", "border-width 0.15s, color 0.15s");

            .index {
                position:absolute;
                top:-1.5px;
                left:-1.5px;
                width:100%;
                font-size:1.1em;
                line-height:1.5em;
                text-align:center;
                width:25px;
                height:25px;
                font-family: "MyriadPro";
                font-style:bold;
                font-weight:500;

                @include vendor-prefix("transition", "top 0.15s, left 0.15s");
            }
        }

        &:hover {
            .top-badge {
                border-width:12.5px;
                color:white;
                .index {
                    top:-12.5px;
                    left:-12px;
                }
            }
            .top-title {
                text-decoration:underline;
            }
        }

        .top-title {
            font-family: "MinionPro";
            display:inline-block;
            max-width:80%;
            margin:10px 0 10px 40px;
            font-size:1.3em;
            font-weight:normal;
        }
    }
}

.homepage-content {
    position:relative;

    .left-col {
        width:70%;
        padding:0 10px;
        left:0;
        top:0;

        section {
            h2 {
                margin:0;
                padding-bottom:5px;
                margin-bottom:15px;
                border-bottom:2px solid $lightergray;
                font-family:"MyriadPro";
                font-size:1.3em;
                text-transform:uppercase;

                &:first-letter {
                    font-size:1.35em;
                }
            }

            .section-post {
                display:block;
                position:relative;
            }
        }
    }

    .right-col {
        width:30%;
        padding:0 10px;
        right:0;
        top:0;

        div {
            width:100%;
            display:block;
            position:relative;
        }
    }

    & div {
        display:inline-block;
        position:absolute;
    }
}

@media (max-width:767px){
    .homepage-content {
        .left-col {
            width:100%;
        }

        .right-col {
            display:none;
            width:0%;
        }
    }
}

@media (min-width:1024px){
    .homepage-content {
        .left-col {
            padding:0 10px 0 0;
        }

        .right-col {
            padding: 0 0 0 10px;
        }
    }
}

