#search-form {
    padding: 30px;

    .basic-search {
        .search-label {
            display: none;
        }

        #search-box {
            width: calc(100% - 105px);
            height: 50px;
            font-size: 1.5em;
            font-family:$minion-stack;
            padding: 7px;
        }
    }

    .search-submit {
        font-family:$myriad-stack;
        font-size: 1.4em;
        color: white;
        height: 50px;
        width: 90px;
        background-color: $search;
        margin: 20px 0;
        cursor: pointer;
        margin-left: 10px;

        &:hover {
            @include box-shadow(8px, $search, 0.6);
        }
    }

    .advanced-open {
        cursor: pointer;
        margin-bottom: 10px;
        font-size:1.2em;

        * {
            display: inline-block;
            @extend %noselect;
        }

        .title {
            font-family: $myriad-stack;
            font-size: 1.3em;
        }

        .chevron {
            margin-left:10px;
            @include arrow("right", 5px, black);
            @include double-prefix("transition", "transform", ".15s ease");

            &.rotate {
                @include vendor-prefix("transform", "rotate(90deg)");
            }
        }
    }

    .advanced-search {
        height: 0;
        visibility: hidden;
        overflow: hidden;
        width: 100%;

        background-color: $lightergray;
        @include vendor-prefix("border-radius", 3px);
        padding: 8px;

        font-size: 1.3em;
        font-family:$myriad-stack;

        @include vendor-prefix("transition", "height .2s ease");

        .categories {
            display: block;
            margin-bottom: 10px;
        }

        .search-options {
            margin-bottom: 15px;

            .filter-type {
                display: inline-block;
                margin-right: 10px;
                height: 26px;

                input {
                    display: inline-block;
                    margin: 6px;
                }

                p {
                    display: inline-block;
                    height: 100%;
                    margin: 0;
                    vertical-align: middle;
                }
            }
        }

        &.visible {
            height: 80px;
            visibility: visible;
        }
    }

    .results {
        .more-results {
            margin-top: 20px;
        }

        .count, .none, .prev, .next {
            font-family: $myriad-stack;
            font-size: 1.5em;
        }


        .prev {
            margin-right: 10px;

            .chevron {
                margin-right: 10px;
                display: inline-block;
                @include arrow("left", 5px, black);
            }
        }

        .next {
            .chevron {
                margin-left: 10px;
                display: inline-block;
                @include arrow("right", 5px, black);
            }

            &:nth-child(2){
                padding-left: 13px;
                border-left: 2px solid black;
            }
        }
    }


}