@font-face {
    font-family: 'MinionPro';
    src: url('../fonts/minionpro.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-bold.woff') format('woff');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-bold-cond.woff') format('woff');
    font-style: bold;
    font-weight: 500;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/myriadpro-semibold.woff') format('woff');
    font-style: bold;
    font-weight: 300;
}

body {
    font-size:14px;
}