/* Things that CSS should do/not do by default
**************************************/

%bsbb {
    @include vendor-prefix("box-sizing", "border-box");
}

* {
    @extend %bsbb;
}

%lists {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul, ol {
    @extend %lists;
}

%noselect {
    @include vendor-prefix("user-select", "none");
}

%hand {
    cursor:pointer;
}

a {
    text-decoration:none;
    color:black;
    &:hover {
        text-decoration:underline;
    }
}

body {
    padding:0;
    margin:0;
}

%valign {
    position: relative;
    top: 50%;
    @include vendor-prefix("transform", "translateY(-50%)");
}

%hyphenate {
    @include vendor-prefix("word-break", "break-all");
    word-break: break-word;
    word-wrap:normal;
    @include vendor-prefix("hyphens", "auto");
}

$maxz: 2147483647;