{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="deck">
        <div class="story lead">{{news.title}}</div>
        <div class="story second" id="n1">{{features.title}}</div>
        <div class="story second" id="n2">{{artsent.title}}</div>
        <div class="story thumb" id="n1">{{op1.title}}</div>
        <div class="story anchor">{{sports.title}}</div>
        <div class="story thumb" id="n2">{{op2.title}}</div>
    </div>

    <div class="top-reads">
        {% for article in toplist %}
            <div class="top-article">
                <div class="top-badge {{article.section.classname}}">
                    <span class="index">{{forloop.counter}}</span>
                </div>
                <a class="top-title" href="/article/{{article.pk}}">{{article.title}}</a>
            </div>
        {% endfor %}
    </div>

    <div class="homepage-content">
        <div class="left-col">
            {% for section in sections %}
                <section>
                    <h2>{{section.section}}</h2>
                    <h3>{{section.posts}}</h3>
                </section>
            {% endfor %}
        </div>
        <div class="right-col">
            {# twitter #}
            <div><a class="twitter-timeline" href="https://twitter.com/bowdoinorient" data-widget-id="265860324312354816">Tweets by @bowdoinorient</a></div>

            {# disqus #}
            <a href="http://scribd.com/doc/{{thisIssue.scribd}}" data-issue="{{ thisIssue.scribd  }}"><img src="{{scribdImage}}"/></a>

            {# scribd #}
            <div class="dsq-widget">
                <p class="dsq-widget-title">Recent Comments</p>
                <div class="comment" ng-repeat="comment in disqusComments track by $index">
                    <p class="name-date">{{comment.author.name}} — {{comment.createdAt}}</p>
                    <p>{{comment.raw_message | truncatechars:200}}</p>
                    <p class="articleLink" ng-click="goto(linkclean(comment.thread_data.link))">{{comment.thread_data.title}}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/twitter.js' %}" async></script>
{% endblock %}