.deck {
    position: relative;
    width: 100%;
    display: block;

    .card {
        $col-width: 125px;
        $row-height: 100px;
        $card-padding: 3px;

        display: inline-block;
        border: 1px solid $lightgray;
        padding: $card-padding;

        // this is pretty dope, I <3 sass
        @for $i from 1 through 4 {
            &.card-w-#{$i} {
                width: ($col-width * $i) - (2 * $card-padding);
            }

            &.card-h-#{$i} {
                height: ($row-height * $i) - (2 * $card-padding);
            }
        }
    }
}
