.dsq-widget {
    width:100%;
    display:block;
    border-left: 2px solid $lightergray;
    padding:0 15px;
    margin:10px 0;

    .dsq-widget-title {
        font-family:"MinionPro";
        font-size:1.4em;
        text-transform: uppercase;
        padding-bottom:5px;
        border-bottom: 2px solid $lightergray;

        &:first-letter {
            font-size:1.45em;
        }
    }

    .disqus-comment {
        font-family:"MyriadPro";
        font-size:1.2em;

        word-break:break-all;
        word-wrap:normal;
        hyphens:auto;
    }
}