.dsq-widget {
    @extend %rcol-widget;

    .dsq-widget-title {
        @extend %rcol-widget-header;
    }

    .dsq-widget-item {
        font-family:$minion-stack;
        font-size:1.2em;
        line-height:1.2em;
        font-weight:bold;

        @extend %hyphenate;

        .dsq-widget-comment {
            font-weight:normal;
            color:black;
        }

        .dsq-widget-meta {
            margin-top:7px;
            a {
                color:darkblue;
                font-weight:normal;
            }
        }
    }
}