.browsehappy {
    padding: 5px;
    border: 3px dashed $warning;
    color: $black;
    font-family:$myriad-stack;
    text-align:center;
    font-size:1.2em;

    a {
        color:$warning;
        text-decoration:underline;
    }
}