header {
    width:100%;
    position:fixed;
    left:0;
    background-color:white;
    z-index:$maxz;

    .logo-wrap {
        height:50px !important;
        margin:0;
        display:inline-block;
        padding:0;

        .logo {
            height:inherit;
            padding:10px 0 10px 0;
            width:auto;
            margin-left:10px;
        }
    }

    nav {
        width:45px;
        display:inline-block;
        position:absolute;
        top:13px;
        right:20px;
        height:40px;
        cursor:pointer;
        padding:5px;

        .sections {
            display:none;
        }

        .mobile-burger {
            display:block;
            width:35px;
            height:18px;

            .burger-lines {
                width:35px;
                height:3px;
                display:block;
                position:relative;
                background-color:$lightgray;
                top:8px;
                right:0;
                opacity:1;

                @include vendor-prefix("user-select", "none");
                @include vendor-prefix("transition", "all .25s ease");

                &.active {
                    background:transparent;

                    &:before{
                        @include vendor-prefix("transform", "rotate3d(0,0,1,-45deg)");
                        background-color:$lightgray;
                        top:0px;
                    }

                    &:after{
                        @include vendor-prefix("transform", "rotate3d(0,0,1,45deg)");
                        background-color:$lightgray;
                        top:-3px;
                    }
                }
            }

            .burger-lines:before{
                content: '\00A0';
                width:35px;
                height:3px;
                display:block;
                position:relative;
                background-color:$lightgray;
                top:-9px;
                @include vendor-prefix("user-select", "none");
                @include vendor-prefix("transition", "all .25s ease");
            }

            .burger-lines:after {
                content: '\00A0';
                width:35px;
                height:3px;
                display:block;
                position:relative;
                background-color:$lightgray;
                top:6px;
                @include vendor-prefix("user-select", "none");
                @include vendor-prefix("transition", "all .25s ease");
            }
        }
    }
}