.current-issue {
    @extend %rcol-widget;
    min-height:201px;

    .current-issue-title {
        @extend %rcol-widget-header;
    }
    a {
        .issue-thumb {
            width:50%;
            max-width:111px;
            height:142px;
            float:left;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
        }
        .issue-details {
            max-width:154px;
            width:50%;
            font-family:$myriad-stack;
            font-size:1.2em;
            float:right;
            padding-left:15px;
        }
        &:hover {
            .issue-details {
                text-decoration:underline;
            }
        }
    }
}