.current-issue {
    width:100%;
    display:block;
    border-left: 2px solid $lightergray;
    padding:0 15px;
    margin:10px 0;
    min-height:201px;

    .current-issue-title {
        font-family:"MyriadPro";
        font-size:1.3em;
        text-transform: uppercase;
        padding-bottom:5px;
        border-bottom: 2px solid $lightergray;

        &:first-letter {
            font-size:1.35em;
        }
    }
    a {
        .issue-thumb {
            width:50%;
            max-width:111px;
            height:142px;
            float:left;
            background-repeat:no-repeat;
            background-size:cover;
            background-position:center;
        }
        .issue-details {
            max-width:154px;
            width:50%;
            font-family:"MyriadPro";
            font-size:1.2em;
            float:right;
            padding-left:15px;
        }
        &:hover {
            .issue-details {
                text-decoration:underline;
            }
        }
    }
}