module(load="imfile" PollingInterval="10")

input(type="imfile"
      File="{{ virtualenv_path }}/logs/celery.log"
      Tag="celery"
      Severity="info"
      StateFile="/var/spool/rsyslog/bongo_celery"
      Facility="local7")

input(type="imfile"
      File="{{ virtualenv_path }}/logs/celeryflower.log"
      Tag="celeryflower"
      Severity="error"
      StateFile="/var/spool/rsyslog/bongo_celeryflower"
      Facility="local7")