module(load="imfile" PollingInterval="10")

input(type="imfile"
      File="{{ application_log_dir }}/rq.log"
      Tag="celery"
      Severity="info"
      StateFile="/var/spool/rsyslog/bongo_rq"
      Facility="local7")