{
  "network": {
    "servers": [ "listener.logz.io:5005" ],
    "timeout": 15,
    "ssl ca": "/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt"
  },
  "files": [
    {
      "paths": [
        "{{ virtualenv_path }}/logs/nginx_access.log",
        "{{ virtualenv_path }}/logs/nginx_error.log",
        "{{ virtualenv_path }}/logs/rq.log",
        "{{ virtualenv_path }}/logs/rq_dashboard.log",
        "{{ virtualenv_path }}/logs/gunicorn_supervisor.log",
        "{{ virtualenv_path }}/logs/newrelic.log",
        "/var/log/nginx/access.log",
        "/var/log/nginx/error.log",
        "/var/log/elasticsearch/elasticsearch.log",
        "/var/log/fail2ban.log",
        "/var/log/postgresql/postgresql-9.3-main.log",
        "/var/log/supervisor/supervisord.log",
        "/var/log/syslog"
      ],
      "fields": {
        "token": "{{ logzio_token }}",
      }
    }
  ]
}
