{
  "network": {
    "servers": [ "listener.logz.io:5005" ],
    "timeout": 15,
    "ssl ca": "/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt"
  },
  "files": [
    {
      "paths": [
        "{{ application_log_dir }}/nginx_access.log",
        "{{ application_log_dir }}/nginx_error.log",
        "/var/log/nginx/access.log",
        "/var/log/nginx/error.log"
      ],
      "fields": {
        "token": "{{ logzio_token }}",
        "type": "nginx"
      }
    },
    {
      "paths": [
        "{{ application_log_dir }}/rq.log",
        "{{ application_log_dir }}/rq_dashboard.log",
        "{{ application_log_dir }}/gunicorn_supervisor.log",
        "{{ application_log_dir }}/newrelic.log",
        "{{ application_log_dir }}/lfw.log",
        "/var/log/elasticsearch/elasticsearch.log",
        "/var/log/fail2ban.log",
        "/var/log/postgresql/postgresql-9.3-main.log",
        "/var/log/mysql/error.log",
        "/var/log/supervisor/supervisord.log",
        "/var/log/syslog"
      ],
      "fields": {
        "token": "{{ logzio_token }}"
      }
    }
  ]
}
