{% load compress %}
{% load static %}

<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <base href="/">
        {% block title %}
            <title>The Bowdoin Orient</title>
        {% endblock %}
        <meta name="description" content="News and commentary from the Bowdoin Orient, the nation's oldest continuously-run college weekly.">
        <meta name="viewport" content="width=device-width">
        {% compress css %}
            <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/main.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <div class="header-wrapper">
            <header>
                <div class="logo-wrap">
                    <h1>The Bowdoin Orient</h1>
                    <img class="logo" alt="The Bowdoin Orient" src="{% static 'img/orient.min.svg' %}" ng-click="goto('/')">
                </div>
                <nav>
                    <div class="sections">
                        <span class="news">News</span>
                        <span class="features">Features</span>
                        <span class="artsent">Arts and Entertainment</span>
                        <span class="sports">Sports</span>
                        <span class="opinion">Opinion</span>
                    </div>
                    <div class="mobile-burger" ng-click="toggleMenu()">
                        <span class="burger-lines" ng-class="{active : showMenu}"></span>
                    </div>
                </nav>
            </header>
        </div>

        <div class="basement-menu">
            <div class="sections">
                <span class="news">News</span>
                <span class="features">Features</span>
                <span class="artsent">Arts and Entertainment</span>
                <span class="sports">Sports</span>
                <span class="opinion">Opinion</span>
            </div>
        </div>

        <!--[if lte IE 9]>
            <p class="browsehappy">Your browser is out of date and no longer supported. Please <strong><a href="http://browsehappy.com/">upgrade your browser</a></strong> to use bowdoinorient.com.</p>
        <![endif]-->

        <div ng-view class="main-content" ng-class="{'shift-menu': showMenu && (minByScroll || minByWidth)}">
            {% block content %}{% endblock %}
        </div>

        {% compress js %}
            <!--[if lt IE 9]>
                {# IE-only js files (shims, polyfills) go here #}
            <![endif]-->

            <script type="text/javascript" src="{% static 'moment/moment.js' %}"></script>
            <script type="text/javascript" src="{% static 'zepto/zepto.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/watch.js' %}"></script>
            {# <script type="text/javascript" src="/static/js/orient.js"> #}
            {% block extrajs %}
            {% endblock %}
        {% endcompress %}
    </body>
</html>